<html>
        <head>
            <meta charset="UTF-8">
            <title>PRUEBA</title>
        
        </head> 

        <body>
        
            <%
            include partials/navigation.ejs
            %>
            <h1>Hello World!</h1>
        </body>
</html>
    